body {
    margin: 0;
    padding: 0;
    text-decoration: none;
    border: none;
}

body {
    background-image: url('img/img-back.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
}

.brand {
    height: 50vh;
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: center;
}


.google-logo {
    user-select: none;
    -webkit-mask-image: url('img/google_logo.svg');
    background-size: contain;
    -webkit-mask-repeat: no-repeat;
    -webkit-mask-size: 100%;
    background-color: #eeeeee;
    height: 100px;
    width: 300px;
    margin-bottom: 20px;
    transition: 500ms;



}




.footer {
    height: 42vh;
}

.content {}

.icon {
    width: 15px;
    padding: 15px;
    user-select: none;
}

#input {
    user-select: none;
}

input:focus {
    outline: none;

}

.search input {
    border: none !important;
    height: 45px;
    width: 460px;
}

.search {

    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    margin-left: 400px;
    margin-right: 400px;
    background-color: #fff;
    border-radius: 35px;

}